<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>工作记录提交</title>
	<link rel="stylesheet" type="text/css" href="css/abormal-work.css"/>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/settings.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="app">
	<!-- 遮罩层 -->
	<div class="cover-div" v-show="showUploading"><span>数据处理中...</span></div>
	<div class="page-title"><span>非常态工作</span>任务填报</div>
	<div class="download-file"><a :href="modelFileUrl">模板下载</a></div>
	<div class="upload-file"><span>批量上传</span><input type="file" @change="UploadDataFile"></div>
	<div class="edit-table">
		<table border="0" cellspacing="" cellpadding="">
			<tr>
				<td class="label-td">日期</td>
				<td class="input-td"><input type="date" format="%yyyy-%MM-%dd" v-model="currentDate"></td>
			</tr>
			<tr>
				<td class="label-td">部门小组</td>
				<td class="input-td"><input type="text" readonly="true" :value="userInfoDict.org_name"></td>
			</tr>
			<tr>
				<td class="label-td">姓名</td>
				<td class="input-td"><input type="text" readonly="true" :value="userInfoDict.name"></td>
			</tr>
			<tr>
				<td class="label-td">任务类型</td>
				<td class="input-td">
					<select v-model="selectedTaskType">
						<option value ="0">请选择</option>
						<option v-for="(key,value) in taskTypes" :value ="value">{{key}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="label-td">主题/标题</td>
				<td class="input-td"><input type="text" v-model="workTitle"></input></td>
			</tr>
			<tr>
				<td class="label-td">主办方</td>
				<td class="input-td"><input type="text" v-model="sponser"></td>
			</tr>
			<tr>
				<td class="label-td">申请部门/受用单位</td>
				<td class="input-td"><input type="text" v-model="applicantOrg"></td>
			</tr>
			<tr>
				<td class="label-td">申请者</td>
				<td class="input-td"><input type="text" v-model="applicationPerson"></td>
			</tr>
			<tr>
				<td class="label-td">联系电话</td>
				<td class="input-td"><input type="text" v-model="linkNumber"></td>
			</tr>
			<tr>
				<td class="label-td">瑞币情况</td>
				<td class="input-td"><input type="number" v-model="ruiBiCount"></td>
				
			</tr>
			<tr>
				<td class="label-td">收入补贴</td>
				<td class="input-td"><input type="number" v-model="incomeAllowance"></td>
			</tr>
			<tr>
				
				<td class="label-td">协作完成</td>
				<td class="input-partner">
					<input class="open-close-check" type="checkbox" v-model="isPartner">
					<input class="partner-edit" v-show="showPartner" placeholder="在这里键入合作者的姓名,多人用;隔开" type="text" style="display: inline-block; width: 45%;" v-model="partnerName">
				</td>
				
			</tr>
			<tr>
				<td class="label-td">备注</td>
				<td class="input-td"><input type="text" v-model="workNote"></input></td>
			</tr>
			<tr>
				<td></td>
				<td class="submit-td"><button type="submit" class="submit-btn" @click="submitWorkRecord">确认提交</button></td>
			</tr>
		
		</table>
		
	</div>
</div>
</body>
<script src="js/abnormal-work.js?v=0.12" type="text/javascript" charset="utf-8"></script>
</html>
