<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文章审核记录</title>
	<link rel="stylesheet" type="text/css" href="css/contribute-article.css?v=0.13"/>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/settings.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="app">
	<div class="page-title"><span>文章审核</span>记录填报</div>
	<div class="edit-table">
		<table border="0" cellspacing="" cellpadding="">
			<tr>
				<td class="label-td">日期</td>
				<td class="input-td"><input type="date" format="%yyyy-%MM-%dd" v-model="currentDate"></td>
			</tr>
			<tr>
				<td class="label-td">部门小组</td>
				<td class="input-td"><input type="text" readonly="true" :value="userInfoDict.org_name"></td>
			</tr>
			<tr>
				<td class="label-td">作者</td>
				<td class="input-td"><input type="text" readonly="true" :value="userInfoDict.name"></td>
			</tr>
			
			<tr>
				<td class="label-td">题目</td>
				<td class="input-td"><input type="text" placeholder="请输入文章题目,不能为空" v-model="title"></td>
			</tr>
			<tr>
				<td class="label-td">发表/采访媒体</td>
				<td class="input-td"><input type="text" placeholder="在此输入文章发表的目标媒体" v-model="mediaOrg"></td>
			</tr>
			<tr>
				<td class="label-td">稿件形式</td>
				<td class="input-td">
					<select v-model="publishType">
						<option value="投稿">投稿</option>
						<option value="约稿">约稿</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="label-td">字数</td>
				<td class="input-td"><input type="number" placeholder="文章字数,默认为0" v-model="words"></td>
			</tr>
			
			<tr>
				<td class="label-td">审核人</td>
				<td class="input-td"><input type="text" placeholder="在此输入文章的审核人" v-model="checker"></td>
			</tr>
			<tr>
				<td class="label-td">收入奖励</td>
				<td class="input-td"><input type="number" placeholder="仅支持整数,默认为0" v-model="allowance"></td>
			</tr>
			<tr>
				<td class="label-td">协作完成</td>
				<td class="input-partner">
					<input class="open-close-check" type="checkbox" v-model="isPartner">
					<input class="partner-edit" v-show="showPartner" placeholder="在这里键入合作者的姓名,多人用;隔开" type="text" style="display: inline-block; width: 45%;" v-model="partnerName">
				</td>
			</tr>
			<tr>
				<td class="label-td">备注</td>
				<td class="input-td"><input type="text" v-model="note"></input></td>
			</tr>
			<tr>
				<td class="label-td">附件</td>
				<td class="input-td input-annex"><input type="file" @change="annexChanged"></input></td>
			</tr>
			<tr>
				<td></td>
				<td class="submit-td"><button type="submit" class="submit-btn" @click="submitRecord">确认提交</button></td>
			</tr>
		
		</table>
		
	</div>
</div>
</body>
<script src="js/contribute-article.js?v=0.2" type="text/javascript" charset="utf-8"></script>
</html>