<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文章审核记录查询</title>
	<link rel="stylesheet" type="text/css" href="css/contart-query.css?v=0.2"/>
	<link rel="stylesheet" type="text/css" href="css/recordtable.css?v=0.2"/>
	<link rel="stylesheet" type="text/css" href="css/modifytable.css"/>
	<link rel="stylesheet" href="css/rightmenu.css">
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/settings.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="app">
	<div class="cover-div" v-show="showDoloading"><span>数据加载中...</span></div>
	<div class="cover-div" v-show="modifyingRecord" @click="closeModify"></div>
	<div class="paginator">
		<button @click="goToTargetPage('pre')">上一页</button><span>{{currentPage}} / {{totalPage}}</span><button @click="goToTargetPage('next')">下一页</button>
		<button class="export-data"> <a :href="exportDataUrl" @click="exportRecord">数据导出</a></button>
	</div>
	<div class="record-table" @click="hideContextMenu">
		<table border="" cellspacing="" cellpadding="">
			<tr class="title">
				<td>日期</td>
				<td>作者</td>
				<td>部门小组</td>
				<td>题目</td>
				<td>发表/采访媒体</td>
				<td>稿件形式</td>
				<td>字数</td>
				<td>审核人</td>
				<td>收入奖励</td>
				<td>合作人</td>
				<td>备注</td>
				<td>附件</td>
			</tr>
			<tr v-for="(recordItem,index) in currentRecords" @contextmenu.prevent="mouseRightClicked($event, recordItem.id)">
				<td>{{ recordItem.custom_time }}</td>
				<td>{{ recordItem.name }}</td>
				<td>{{ recordItem.org_name }}</td>
				<td>{{ recordItem.title }}</td>
				<td>{{ recordItem.media_name }}</td>
				<td>{{ recordItem.rough_type }}</td>
				<td>{{ recordItem.words }}</td>
				<td>{{ recordItem.checker }}</td>
				<td>{{ recordItem.allowance}}</td>
				<td>{{ recordItem.partner}}</td>
				<td>{{ recordItem.note }}</td>
				<td v-if="recordItem.annex_url"><a :href="host + recordItem.annex_url">下载</a></td>
				<td v-else>无</td>
			</tr>
		</table>
	</div>
	<div class="modify-table" v-show="showModifyTable">
		<div class="modify-title">记录修改<span @click="closeModify">关闭</span></div>
		<table border="" cellspacing="" cellpadding="">
			<tr class="title">
				<td>日期</td>
				<td><input type="date" v-model="recordToModify.custom_time" :value="recordToModify.custom_time"></td>
			</tr>
				<td>部门小组</td>
				<td><input type="text" readonly="true" :value="recordToModify.org_name"></td>
			<tr>
				<td>姓名</td>
				<td><input type="text" readonly="true" :value="recordToModify.name"></td>
			</tr>
			<tr>
				<td>题目</td>
				<td>
					<input type="text" v-model="recordToModify.title">
				</td>
			</tr>
			<tr>
				<td>发表/采访媒体</td>
				<td>
					<input type="text" v-model="recordToModify.media_name">
				</td>
			</tr>
			<tr>
				<td>稿件形式</td>
				<td>
					<select v-model="recordToModify.rough_type">
						<option value="投稿">投稿</option>
						<option value="约稿">约稿</option>
					</select>
				</td>
				
			</tr>
			<tr>
				<td>字数</td>
				<td><input type="number" v-model="recordToModify.words"></td>
				
			</tr>
			<tr>
				<td>审核人</td>
				<td><input type="text" v-model="recordToModify.checker"></td>
				
			</tr>
			
			<tr>
				<td>收入奖励</td>
				<td><input type="number" v-model="recordToModify.allowance"></td>
				
			</tr>
			<tr>
				<td>合作人</td>
				<td><input type="text" v-model="recordToModify.partner"></td>
			</tr>
			<tr>
				<td>备注</td>
				<td><input type="text" v-model="recordToModify.note"></td>
			</tr>
			<tr>
				<td>附件</td>
				<td v-if="recordToModify.annex_url"><a :href="host + recordToModify.annex_url">{{recordToModify.annex}}</a></td>
				<td v-else>无</td>
			</tr>
			<tr>
				<td>附件重置</td>
				<td>
					<input id="annexFile" type="file" @change="annexChanged" ></input>
				</td>
			</tr>
			<tr class="commint-btn">
				<td colspan="2">
					<button class="commit" type="button" @click="commitModify">确定修改</button>
					<button class="cancel" type="button" @click="closeModify">取消退出</button>
				</td>
				
			</tr>
		</table>
	</div>
	<div id="contextmenu" v-show="showContextMenu" @contextmenu.prevent>
		<ul>
			<li @click="modifyCurrentRecord"><img src="img/edit_ico.png" >编辑</li>
			<li @click="deleteCurrentRecord"><img src="img/delete.png" >删除</li>
		</ul>
	</div>
</div>
</body>
<script src="js/contart-query.js?v=0.41" type="text/javascript" charset="utf-8"></script>
</html>
