<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>投顾策略记录查询</title>
	<link rel="stylesheet" type="text/css" href="css/instrategy-query.css?v=0.2"/>
	<link rel="stylesheet" type="text/css" href="css/recordtable.css"/>
	<link rel="stylesheet" type="text/css" href="css/rightmenu.css"/>
	<link rel="stylesheet" type="text/css" href="css/modifytable.css"/>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/settings.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="app">
	<div class="cover-div" v-show="showDoloading"><span>数据加载中...</span></div>
	<div class="cover-div" v-show="modifyingRecord" @click="closeModify"></div>
	<div class="paginator"><button @click="goToTargetPage('pre')">上一页</button><span>{{currentPage}} / {{totalPage}}</span><button @click="goToTargetPage('next')">下一页</button></div>
	<div class="record-table" @click="hideContextMenu">
		<table border="" cellspacing="" cellpadding="">
			<tr class="title">
				<td>日期</td>
				<td>姓名</td>
				<td>部门小组</td>
				<td>策略内容</td>
				<td>品种</td>
				<td>方向</td>
				<td>手数</td>
				<td>策略开仓</td>
				<td>策略平仓</td>
				<td>策略结果</td>
			</tr>
			<tr v-for="(recordItem,index) in currentRecords" @contextmenu.prevent="mouseRightClicked($event, recordItem.id)">
				<td>{{ recordItem.custom_time }}</td>
				<td>{{ recordItem.name }}</td>
				<td>{{ recordItem.org_name }}</td>
				<td class="record-content"><div><span>{{ recordItem.content }}</span></div></td>
				<td>{{ recordItem.variety }}</td>
				<td>{{ recordItem.direction }}</td>
				<td>{{ recordItem.hands }}</td>
				<td>{{ recordItem.open_position }}</td>
				<td>{{ recordItem.close_position }}</td>
				<td>{{ recordItem.profit }}</td>
			</tr>
		</table>
	</div>
	<div class="modify-table" v-show="showModifyTable">
		<div class="modify-title">记录修改<span @click="closeModify">关闭</span></div>
		<table border="" cellspacing="" cellpadding="">
			<tr class="title">
				<td>日期</td>
				<td><input type="date" v-model="recordToModify.custom_time" :value="recordToModify.custom_time"></td>
			</tr>
				<td>部门小组</td>
				<td><input type="text" readonly="true" :value="recordToModify.org_name"></td>
			<tr>
				<td>姓名</td>
				<td><input type="text" readonly="true" :value="recordToModify.name"></td>
			</tr>
			<tr>
				<td>策略内容</td>
				<td>
					<input type="text" v-model="recordToModify.content">
				</td>
			</tr>
			<tr>
				<td>品种</td>
				<td>
					<select v-model="recordToModify.variety_id" class="variety-select">
						<template v-for="(groupItem,index) in varietyInfoArray">
							<option v-for="(varietyItem, index) in groupItem.subs" :value ="varietyItem.id">{{varietyItem.name}}</option>
						</template>
					</select>
					<label>合约</label>
					<input type="text" class="contract-input" placeholder="在此输入详细合约" v-model="recordToModify.contract">
				</td>
			</tr>
			<tr>
				<td>方向</td>
				<td>
					<select v-model="recordToModify.direction">
						<option value="多头">多头</option>
						<option value="空头">空头</option>
						<option value="套利">套利</option>
					</select>
				</td>
				
			</tr>
			<tr>
				<td>手数</td>
				<td><input type="number" v-model="recordToModify.hands"></td>
				
			</tr>
			<tr>
				<td>策略开仓</td>
				<td><input type="number" v-model="recordToModify.open_position"></td>
				
			</tr>
			
			<tr>
				<td>策略平仓</td>
				<td><input type="number" v-model="recordToModify.close_position"></td>
				
			</tr>
			<tr>
				<td>策略结果</td>
				<td><input type="number" v-model="recordToModify.profit"></td>
				
			</tr>
			<tr class="commint-btn">
				<td colspan="2">
					<button class="commit" type="button" @click="commitModify">确定修改</button>
					<button class="cancel" type="button" @click="closeModify">取消退出</button>
				</td>
				
			</tr>
		</table>
	</div>
	<div id="contextmenu" v-show="showContextMenu" @contextmenu.prevent>
		<ul>
			<li @click="modifyCurrentRecord"><img src="img/edit_ico.png" >编辑</li>
			<li @click="deleteCurrentRecord"><img src="img/delete.png" >删除</li>
		</ul>
	</div>
</div>
</body>
<script src="js/instrategy-query.js?v=0.13" type="text/javascript" charset="utf-8"></script>
</html>
