<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>投资方案撰写</title>
	<link rel="stylesheet" type="text/css" href="css/investment.css?v=0.3"/>
	<link rel="stylesheet" type="text/css" href="css/edittable.css"/>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/settings.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="app">
	<div class="page-title"><span>投资方案</span>记录填报</div>
	<div class="edit-table">
		<table border="0" cellspacing="" cellpadding="">
			<tr>
				<td>日期</td>
				<td class="input-td"><input type="date" format="%yyyy-%MM-%dd" v-model="currentDate"></td>
			</tr>
			<tr>
				<td>部门小组</td>
				<td class="input-td"><input type="text" readonly="true" :value="userInfoDict.org_name"></td>
			</tr>
			<tr>
				<td>姓名</td>
				<td class="input-td"><input type="text" readonly="true" :value="userInfoDict.name"></td>
			</tr>
			<tr>
				<td>方案标题</td>
				<td class="input-td"><input type="text" placeholder="在此输入标题,此项不支持为空" v-model="articleTitle"></td>
			</tr>
			<tr>
				<td >品种</td>
				<td class="input-td">
					<select v-model="variety" class="variety-select">
						<template v-for="(groupItem,index) in varietyInfoArray">
							<option v-for="(varietyItem,index) in groupItem.subs" :value ="varietyItem.id">{{varietyItem.name}}</option>
						</template>
					</select>
					<label v-show="showContactInput">合约</label>
					<input v-show="showContactInput" type="text" class="contract-input" placeholder="在此输入品种的详细合约" v-model="contract">
				</td>
			</tr>
			<tr>
				<td>方向</td>
				<td class="input-td">
					<select v-model="direction">
						<option value="多头">多头</option>
						<option value="空头">空头</option>
						<option value="套利">套利</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>实建日期</td>
				<td class="input-td"><input type="datetime-local" v-model="buildDateTime"></td>
			</tr>
			<tr>
				<td>实建均价</td>
				<td class="input-td"><input type="number" placeholder="请在此输入价格" v-model="buildAvgPrice"></td>
			</tr>
			<tr>
				<td>实建手数</td>
				<td class="input-td"><input type="number" placeholder="仅支持整数" v-model="buildHands"></td>
			</tr>
			<tr>
				<td>实出均价</td>
				<td class="input-td"><input type="number" placeholder="请在此输入价格" v-model="outAvgPrice"></td>
			</tr>
			<tr>
				<td>止损均价</td>
				<td class="input-td"><input type="number" placeholder="请在此输入价格" v-model="cutLossAvgPrice"></td>
			</tr>
			<tr>
				<td>有效期止</td>
				<td class="input-td"><input type="datetime-local" v-model="expireDateTime"></td>
			</tr>
			<tr>
				<td>是否外发</td>
				<td class="input-td-checked"><input class="open-close-check" type="checkbox" v-model="isPublish"></td>
			</tr>
			<tr>
				<td>方案评级</td>
				<td class="input-td">
					<select v-model="level">
						<option value="A">A</option>
						<option value="B">B</option>
						<option value="C">C</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>方案结果</td>
				<td class="input-td"><input type="number" placeholder="用'+'号和'-'表示盈利或亏损" v-model="profit"></td>
			</tr>
			<tr>
				<td>备注</td>
				<td class="input-td"><input type="text" v-model="note"></input></td>
			</tr>
			<tr>
				<td>附件</td>
				<td class="input-td input-annex"><input type="file" @change="annexChanged" id="annex"></input></td>
			</tr>
			<tr>
				<td></td>
				<td class="submit-td"><button type="submit" class="submit-btn" @click="submitRecord">确认提交</button></td>
			</tr>
		</table>
		
	</div>
</div>
</body>
<script src="js/investment.js?v=0.51.0511" type="text/javascript" charset="utf-8"></script>
</html>
