<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>人员设置</title>
	<link rel="stylesheet" type="text/css" href="css/stuff-wrok.css?v=0.13"/>
	<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/settings.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="app">
	<!-- 遮罩层 -->
	<div class="cover-div" v-show="ShowcoverDiv"></div>
	<!-- 用户信息表 -->
	<div class="table-show">
		<table>
			<tr class="title">
				<td>序号</td>
				<td>人员名称</td>
				<td>用户号</td>
				<td>加入时间</td>
				<td>最近登录</td>
				<td>人员状态</td>
				<td></td>
			</tr>
			<tr v-for="(item,index) in stuffsArray">
				<td>{{index + 1}}</td>
				<td>{{ item.name }}</td>
				<td>{{ item.fixed_code }}</td>
				<td>{{ item.join_time }}</td>
				<td>{{ item.update_time }}</td>
				<td class="stuff-state" :class="item.is_active?'state-pass':''">{{item.is_active?"审核通过":"未审核"}}</td>
				<!-- <td><input v-if="item.id != 1" type="checkbox" class="open-close-check" :value="item.id" @change="userActiveChanged" :checked="item.is_active"></td> -->
				<!-- <td><input v-if="item.id != 1" type="checkbox" class="open-close-check" :value="item.id" data-action="is_active" @change="checkBoxChanged" :checked="item.is_active"></td> -->
				<td><button v-if="item.id != 1 && item.is_active" type="button" :value="item.id" @click="workDistribute">工作设置</button></td>
			</tr>
		</table>
	</div>
</div>
</body>
<script src="js/stuff-work.js?v=0.13" type="text/javascript" charset="utf-8"></script>
</html>
