
.record-table{
	width: 90%;
	margin: 10px;
}
.record-table table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #787878;
	background-color: #F4F4F4;
	
}
.record-table td{
	border: 1px solid #787878;
	font-size: 15px;
	height: 28px;
}
/* .record-table table .index-td{
	width: 6%;
}
.record-table table .name-td{
	width: 38%;
}
.record-table table .page-url-td{
	width: 38%;
} */

.record-table .title{
	color: #FFFFFF;
	background-color: #69cfb8;
	font-size: 16px;
	font-weight: bold;
	line-height: 42px;
	height: 42px;
	border-bottom: 1px solid #787878;
}
