
html,body{
	margin: 0;
	padding: 0;
	width:100%;   
	height:100%;
	/* FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#006096,endColorStr=#fff); /*IE 6 7 8*/
	background: -ms-linear-gradient(top, #006096,  #fff);        /* IE 10 */  
	background:-moz-linear-gradient(top,#006096,#fff);/*火狐*/   
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#006096), to(#fff));/*谷歌*/   
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#006096), to(#fff));      /* Safari 4-5, Chrome 1-9*/  
	background: -webkit-linear-gradient(top, #006096, #fff);   /*Safari5.1 Chrome 10+*/  
	background: -o-linear-gradient(top, #006096, #fff);  /*Opera 11.10+*/  
}   

.login-div{
	position: absolute;
	width: 400px;
	height: 300px;
	left: 50%;
	top: 40%;
	margin-top: -150px;
	margin-left: -200px;
	background-color: rgba(200, 200,200, 0.4);
	border: 3px solid rgba(200, 200, 180.0.2);
	border-radius: 8px;
}
.register-div{
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50%;
	top: 30%;
	margin-top: -150px;
	margin-left: -200px;
	background-color: rgba(200, 200,200, 0.4);
	border: 3px solid rgba(200, 200, 180.0.2);
	border-radius: 8px;
}

.login-div table, .register-div table{
	margin: 0 auto;
	margin-top: 20px;
	border-collapse: collapse;
}
.login-div th, .register-div th{
	font-size: 22px;
	font-style: italic;
	color:rgb(160, 220, 206);
	padding-bottom: 20px;
}


.login-div .login-label, .register-div .register-label{
	height: 25px;
	line-height: 25px;
	text-align: center;
	text-align: justify;
	text-justify: distribute-all-lines;
	text-align-last: justify;
	color: rgb(255,255,255);
}
.login-div .login-input, .register-div .register-input{
	border: none;
	background-color: rgba(200,200,200,0.4);
	outline-style: none;
	height: 25px;
	font-size: 16px;
	margin-left: 5px;
	
}
.login-div .remember-login{
	font-size: 14px;
	color: rgb(245,245,245);
}
.login-div .submit-btn,.register-div .register-btn{
	width: 100%;
	height: 28px;
	border: none;
	background-color: rgb(40, 200, 220);
	color: rgb(245,245,245);
	font-size:18px;
}
.login-div .submit-btn:hover, .register-div .register-btn:hover{
	cursor: pointer;
	color: rgb(200, 245, 220);
}
.login-div .error-msg, .register-div .error-msg{
	font-size:10px;
	line-height: 11px;
	height: 11px;
	color:rgb(250, 10,10);
}

.to-register,.to-login{
	width: 100%;
	text-align: center;
	font-size: 12px;
	color:rgb(100, 120, 130);
	border: none;
	outline-style: none;
}
.to-register span, .to-login span{
	color: rgb(100, 150, 180);
}
.to-register span:hover, .to-login span:hover{
	cursor: pointer;
}
.register-div .register-select{
	margin-left: 5px;
}





