html,body{
	width: 100%;
	min-height: max-content;
	margin: 0px;
	opacity: 0;
	animation: page-fade-in 0.7s forwards;
	background-color: #EBEBE4;
	/* background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#EBEBE4), to(#fff));/*谷歌*/
}

@keyframes page-fade-in{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}


.page-title{
	font-size: 18px;
	height: 32px;
	line-height: 32px;
	padding-left: 60px;
	background: linear-gradient(to right,#7FFFD4,#F0F8FF);
	/* color: #EFEFEF; */
	color: #444444;
	/* text-shadow: #000 0 0 3px; */
	box-shadow: 1px 1px 3px #008B8B;
	margin-bottom: 10px;
}
.page-title span{
	font-size: 19px;
	color: #EFEFEF;
	text-shadow: #000 0 0 3px;
}
.edit-table .input-partner .partner-edit{
	height: 40px;
	outline: none;
	font-size: 15px;
	width: calc(90% - 55px) !important;
}

.edit-table .input-annex input{
	width: 300px;
	line-height: 40px;
}


