.page-title{
	font-size: 18px;
	height: 32px;
	line-height: 32px;
	padding-left: 60px;
	background: linear-gradient(to right,#7FD4FF,#F0F8FF);
	color: #444444;
	box-shadow: 1px 1px 3px #008B8B;
}
.page-title span{
	font-size: 19px;
	color: #EFEFEF;
	text-shadow: #000 0 0 3px;
}
.month-switch{
	margin: 5px;
}
.month-switch button{
	margin:0 5px;
}
.statistics-table{
	margin: 5px;
}
.statistics-table table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #787878;
	background-color: #F4F4F4;
	
}
.statistics-table td{
	border: 1px solid #787878;
	font-size: 15px;
	height: 22px;
}

.statistics-table .title td{
	/* color: #FFFFFF; */
	/* background-color: #69cfb8; */
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
	border-bottom: 1px solid #787878;
}
.statistics-table .date-td{
	width: 100px;
}